* {
  font-family: "Agave Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
}


window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #333C43;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #A7C080;
  border-radius: 8px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

#workspaces button.focused {
  background-color: #333C43;
  box-shadow: inset 0 -3px #A7C080;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
}

#workspaces button.urgent {
  color : #E67E80;
  border-radius: 0px;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock {
  background-color: #333C43;
  padding: 0 8px;
  color: #A7C080;
  border: 10px;
  border-radius: 8px;
}

#custom-powermenu{
  /* padding: 0 10px 0 6px; */
  padding: 0 6px;
  color: #E67E80;
  border: 10px;
  /* margin-right: 15px; */
  background-color: #333C43;
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
}

#custom-drun {
  padding: 0 6px;
  color: #E69875;
  border: 10px;
  background-color: #333C43;
}

#custom-virtualkeyboard {
  padding: 0 6px;
  color: #7FBBB3;
  border: 10px;
  background-color: #333C43;
}

#custom-rotate-screen {
  padding: 0 6px;
  color: #D699B6;
  border: 10px;
  background-color: #333C43;
}

#cpu {
  padding: 0 6px;
  color: #A7C080;
  border: 10px;
  background-color: #333C43;
}

#temperature {
  padding: 0 8px;
  color: #E67E80;
  border: 10px;
  background-color: #333C43;
}

#memory {
  padding: 0 8px 0 8px;
  color: #E69875;
  border: 10px;
  background-color: #333C43;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#bluetooth {
  padding: 0 6px 0 18px;
  color: #9c99d6;
  border: 10px;
  background-color: #333C43;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#network {
  padding: 0 6px;
  color: #d6c099;
  border: 10px;
  background-color: #333C43;
}

#custom-extra-panel {
  padding: 0 6px;
  color: #add699;
  border: 10px;
  background-color: #333C43;
}

#disk {
  padding: 0 8px;
  color: #DBBC7F;
  background-color: #333C43;
}

#battery {
  padding: 0 8px;
  color: #83C092;
  /* margin-right: 15px; */
  background-color: #333C43;
  /* border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; */
}

#pulseaudio {
  padding: 0 10px 0 0px;
  color: #D699B6;
  border: 10px;
  background-color: #333C43;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
}

#backlight {
  padding: 0 10px 0 0px;
  color: #E69875;
  border: 10px;
  background-color: #333C43;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#backlight-slider,
#pulseaudio-slider {
  background-color: #333C43;
  padding-left: 0px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #D699B6;
  outline: none;
}

#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 60px;
  min-height: 6px;
  margin-bottom: -4px;
  border-radius: 4px;
  background: #333C43;
  outline: none;
  border: 1px solid #D699B6;
  border-radius: 4px;
}

#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 4px;
  border: 0px;
  background-color: #D699B6;
}

#backlight-slider{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #E69875;
  outline: none;
}

#backlight-slider trough {
  margin-top: -3px;
  min-width: 60px;
  min-height: 6px;
  margin-bottom: -4px;
  border-radius: 4px;
  background: #434F55;
  outline: none;
  border: 1px solid #E69875;
  border-radius: 4px;
}

#backlight-slider highlight {
  min-width: 0px;
  border-radius: 4px;
  border: 0px;
  background-color: #E69875;
}

.modules-left {
  background-color: #333C43;
  border-radius: 15px;
  padding: 0 10px;
}

.modules-center {
  background-color: #333C43;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 4px;
}

#battery.charging,
#battery.plugged {
  color: #83C092;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #333C43;
  color: #E67E80;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}
